<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="main-footer" id="footer">
    <!-- Start Copyright Area -->
    <div class="copyright">
        <div class="container clearfix">
            <p class="pull-left">Copyright &copy; 2019.xxxxxx All rights reserved.
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designer &amp; Director :Liang Liguo &amp; Yang Yv &amp; Xv Jiale
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">粤ICP备19023902号</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find Us: <a href="mailto:13794303090@163.com">13794303090@163.com</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;肇梦杯 梁立果参赛作品
            </p>
        </div>
    </div>
    <!-- End Copyright Area -->
</footer>
</body>
</html>